# community-backend/docker-compose.yml
services:
  be-app:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: be-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod,jwt
    volumes:
      - ./logs:/app/logs