# community-backend/docker-compose.yml
services:
  be-app:
    image: jayoon7/be-image:latest
    container_name: be-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod,jwt
    volumes:
      - ./logs:/app/logs